.App {
  text-align: center;
  margin-top: 50px;
  font-family: Verdana;
}

.App-header {
  background-color: #a28089;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}
